<section id="list-items">
  <div class="row">
    <form action="#" class="create form-inline text-center" {{action "createListItem" on="submit"}}>
      <div class="form-group">
        {{view "select" content=controller.types value=attributes.mediaType class="form-control"}}
      </div>
      <div class="form-group">
        {{input value=attributes.name placeholder="enter item" class="form-control"}}
      </div>
      <input type="submit" class="btn btn-default" value="Add To List">
    </form>
  </div>

  <div class="row">
    <section class="list list-group col-md-8 col-md-offset-2">
      {{#each item in controller}}
        <a {{bind-attr class=":list-item :list-group-item item.mediaType item.paramName"}} href="#">
          <i {{bind-attr class=":list-item__icon :fa :fa-2x :fa-fw item.typeIcon"}}></i>
          <span class="list-item__name">{{item.name}}</span>
          <button type="button" class="close" aria-label="Close" {{action "deleteListItem"}}>
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
      {{/each}}
    </div>
  </div>
</section>
