<form id="add-list-item" action="#" class="form-inline col-md-offset-4" style="margin-bottom: 10px">
  <div class="form-group">
    {{view "select" content=controller.types value=type class="form-control"}}
  </div>
  <div class="form-group">
    {{input value=name placeholder="enter item" class="form-control"}}
  </div>
</form>

<section id="list-items" class="row">
  <div class="list-group col-md-4 col-md-offset-4">
    {{#each itemController="listItem"}}
      <a {{bind-attr class=":list-group-item typeColor"}} href="#">
        <i {{bind-attr class=":fa :fa-2x :fa-fw typeIcon"}} style="padding-right: 10px;"></i>
        <span style="font-size: 1.25em">{{name}}</span>
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </a>
    {{/each}}
  </ul>
</section>
